body {
    width: 100%;
    background: #501C65;
    background: linear-gradient(180deg, #501C65 0%, #9f64b6 35%, #e1d7e6 100%);
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-img {
    max-width: 189px;
    width: 100%;
    max-height: 100px;
}

nav {
    background: #E6D3EE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar-links {
    max-width: 39.7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
}

li a {
    text-decoration: none;
    color: #000000;
    font-size: 26px;
    line-height: 40px;
}

.footer-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

a:hover {
    color: blue;
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 20px;
}
header {
    max-width: 1440px;
    width: 100%;
}
footer {
    max-width: 1440px;
    width: 100%;
}
.header-container {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
}

.background-image {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.btn-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
}

h1 {
    font-size: 66px;
    line-height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.container, .main-text {
    font-size: 26px;
    line-height: 40px;
    color: #000000;
}
.txt-detail {
    font-size: 16px;
    color: #000000; 
}

.container {
    color:#FFFFFF;
}

.text-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}

.checkbox {
    width: 25px;
}

.btn {
    width: 140px;
    background: rgba(49, 114, 75, 0.62);
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
}

.intro-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/background-image.png);
}

.top-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-section-container {
    max-width: 63.3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top-section-container-blocks {
    max-width: 45%;
    box-sizing: border-box;
}

.section-img {
    max-width: 100%;
    min-height: 10vh; 
    border-radius: 10px;
}
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    /* background: #d1d0d0; */
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    height: 350px;
}
.card {
    width: 268px;
    min-height: 200px;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    position: relative;
    background: #ffffff;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 20px 1px#888888 inset;
}
.card__title {
    font-weight: bold;
}
 
h4 {
    font-size: 22px;
    line-height: 28px;
}

.bottom-section p {
    width: 70%;
    
}

.bottom-section button {
    width: 60%;
    height: 40px; 
    background: rgba(49, 114, 75, 0.62);
    border-radius: 10px;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
}

.grid__item {
    height: 100%;
    background: #722790;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

button:hover {
    background-color: rgba(10, 54, 29, 0.62)
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    flex-wrap: wrap;
    box-shadow: 1px 1px 20px 1px#888888 inset;
    padding: 10px 0 10px 0;
    height: 300px;
    align-content: flex-end;
}
.footer-section{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    justify-content: space-evenly;
}
.divider{
    background: #D8D8D8;
    width: 100%;
    height: 2px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background: #ffffff;
    row-gap: 5px;
}
.form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    row-gap: 10px;
}
.input-filed {
    border-top: none;
    border-right: none;
    border-left: none;
    opacity: 0.3;
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    background-color:#FFFFFF;
    text-decoration-color: #FEFFFF;
}
.footer-btn {
    font-size: 16px;
    line-height: 40px;
    width:110px;
}
.socialmedia-container{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
}